# VSCode
**/*pycache*
.pytest_cache

# Readme files
**/readme.txt

# Virtual environment
venv

# Test scripts
causally/quick_test.py

# Images
**/*.png

# Data generation arguments
**/*.json

# Setup
.eggs
**/*egg-info